# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# PyInstaller
dist/
build/
*.spec

# Game data (generado)
bin_full_rebuild/
*.tsv

# Config local
app_config.json

# Entorno virtual
venv/
.venv/
.env
*.egg-info/

# Media
*.webp
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.ico

# Logs
*.log

# OS
Thumbs.db
Desktop.ini
.DS_Store
